/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
}

h2 {
    color: #555;
    margin-top: 30px;
}

h3 {
    color: #555;
    margin-top: 20px;
}

.lista ul, .academico ul, .programação ul, .AI ul, .experiencia ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista li, .academico li, .programação li, .AI li, .experiencia li {
    margin-bottom: 10px;
}

.lista b, .academico b, .programação b, .AI b, .experiencia b {
    font-weight: bold;
    color: #333;
}

.lista, .apresentação, .academico, .programação, .AI, .experiencia {
    background-color: #fff;
    border: 4px solid #05913b;
    border-radius: 12px;
    box-shadow: 10px 10px #000000 ;
    padding: 20px;
    margin-bottom: 20px;
}

.apresentação p {
    text-indent: 20px;
    text-align: justify;
}

.experiencia ul ul {
    margin-left: 20px;
}

.experiencia h3 {
    margin-top: 20px;
    color: #47b5f5;
}

.nome {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 3s;
    animation-iteration-count: infinite;
}