body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}

h1 {
    text-align: center;
    color: #000000;
}

h2 {
    color: #000000;
    margin-top: 0px;
}

h3 {
    color: #000000;
    margin-top: 20px;
}

.lista b, .academico b, .programação b, .AI b, .experiencia b, .Skills b {
    font-weight: bold;
    color: #000000;
}

.lista, .apresentação, .academico, .programação, .AI, .experiencia, .Skills {
    background-color: #fff;
    border: 4px solid #05913b;
    border-radius: 12px;
    box-shadow: 10px 10px #000000 ;
    padding: 20px;
    margin-bottom: 20px;
}

.apresentação p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    text-align: justify;
}

.experiencia ul ul {
    margin-left: 20px;
}

.experiencia h3 {
    margin-top: 20px;
    color: #47b5f5;
}

.nome {
    font-size: 40px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    animation: mymove 30s infinite linear;
}

.botao-acordeao {
    background-color: #05913b;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 5px;
}

.botao-acordeao1 {
    background-color: #05913b;
    color: rgb(21, 228, 228);
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 5px;
}

.botao-acordeao:hover, .botao-acordeao1:hover {
    background-color: #047d2c;
}

.conteudo-acordeao, .conteudo-acordeao1 {
    padding: 10px;
    background-color: #f1f1f1;
    display: none;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.conteudo-acordeao ul, .conteudo-acordeao1 ul {
    padding: 0;
}
